<div class="md-copyright">
  <div class="md-copyright__highlight ic-footer-links">
    <a
      href="https://chat.illinois.edu/disclaimer"
      target="_blank"
      rel="noopener noreferrer"
      >Disclaimer</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/digital_risk_management/generative_ai/"
      target="_blank"
      rel="noopener noreferrer"
      >Generative AI Policy</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/resources/terms_of_use"
      target="_blank"
      rel="noopener noreferrer"
      >Terms</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/resources/web_privacy"
      target="_blank"
      rel="noopener noreferrer"
      >Privacy</a
    >
    <span
      >Contact us:
      <a href="mailto:genaisupport@mx.uillinois.edu"
        >genaisupport@mx.uillinois.edu</a
      ></span
    >
    <span
      >Apache 2.0 Licensed
      <a
        href="https://github.com/Center-for-AI-Innovation/Illinois-Chat/"
        target="_blank"
        rel="noopener noreferrer"
        >Illinois Chat code.</a
      ></span
    >
  </div>
</div>
