<div class="md-copyright">
  <div class="md-copyright__highlight ic-footer-links">
    <a
      href="https://chat.illinois.edu/disclaimer"
      target="_blank"
      rel="noopener noreferrer"
      >Disclaimer</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/digital_risk_management/generative_ai/"
      target="_blank"
      rel="noopener noreferrer"
      >Generative AI Policy</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/resources/terms_of_use"
      target="_blank"
      rel="noopener noreferrer"
      >Terms</a
    >
    <a
      href="https://www.vpaa.uillinois.edu/resources/web_privacy"
      target="_blank"
      rel="noopener noreferrer"
      >Privacy</a
    >
    <span>
      MIT Licensed
      <a
        href="https://github.com/Center-for-AI-Innovation/uiuc-chat-frontend"
        target="_blank"
        rel="noopener noreferrer"
        >frontend</a
      >
      and
      <a
        href="https://github.com/Center-for-AI-Innovation/ai-ta-backend"
        target="_blank"
        rel="noopener noreferrer"
        >backend</a
      >
      code.
    </span>
  </div>
</div>
